<!-- Topbar Start -->

<div class="navbar-custom bg-white">
    <ul class="list-unstyled topnav-menu float-right mb-0">
        <li class="btn-group notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <span class="pro-user-name ml-1">
                    <!-- user-name -->
                    <span id="user-name">admin님 </span>
                    <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.41 0.589844L6 5.16984L10.59 0.589844L12 1.99984L6 7.99984L0 1.99984L1.41 0.589844Z" fill="#A3A4AC"/>
                    </svg>
                </span>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a href="https://webadmin.useb.co.kr/" class="dropdown-item topbar-item modal-btn waves-effect" onclick="return confirm('정말 로그아웃 하시겠습니까?');">로그아웃</a>
                </div>
            </a>
        </li>
    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="/components/support-news.php" class="logo text-center">
            <span class="logo-lg">
                <img src="/assets/images/icon-logo.svg" alt="" height="35">
            </span>
            <span class="logo-xs pl-3">
                <img src="/assets/images/icon-logo.svg" alt="" height="16">
            </span>
        </a>
    </div>
</div>
<!-- end Topbar -->